/* Adapted from https://github.com/linuxmint/nemo/blob/7fe83632eca5801a55992dc08c52767b6d8685cb/gresources/nemo-style-application.css */
.nemo-window.nemo-desktop-window notebook,
.nemo-window.nemo-desktop-window paned,
NemoDesktopWindow GtkPaned {
	background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.10) 6px,
      rgba(0, 0, 0, 0.03) 12px,
      rgba(0, 0, 0, 0.00) 18px
    );
}

.nemo-desktop.nemo-canvas-item {
  color: #fff;
  border-radius: 3px;
  text-shadow:
    1px  1px black,
    0px  1px black,
    0px -1px 2px alpha(black, 0.3);
}

.nemo-desktop.nemo-canvas-item:selected {
  background-color: shade(@theme_selected_bg_color, 1.8);
  box-shadow: inset 999px 999px shade(@theme_selected_bg_color, 1.1);
  text-shadow: 0px 1px alpha(black, 0.25);
}
